
<app-navbar></app-navbar>
<section class="vh-100">
  <div class="container py-5 h-100">      
    <div class="card container my-5" style="border-radius: 1rem;">
      <div class="card-body p-3">            
        <h3>Iniciá Sesión</h3>              
        <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
          <div class="form-outline form-white my-4">
            <label for="nombreUsuario" class="form-label" >Nombre de usuario</label>
            <input type="text" id="nombreUsuario" placeholder="Ej: Username" name="nombreUsuario" class="form-control form-control-lg" [(ngModel)]="nombreUsuario" required />
          </div>
          <div class="form-outline form-white mb-4">
            <label class="form-label" for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="**********" class="form-control form-control-lg" [(ngModel)]="password" required/>
          </div>
          <button class="btn btn-dark align-center" type="submit">Login</button>
        </form>                       
      </div>
    </div>      
  </div>
</section>
 